body {
    
    background-image: url('https://i.pinimg.com/originals/63/58/52/63585220dc2cc01a9fbf38fea1ce0b1d.jpg');
    
}
h2{
    color: #241919;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2em;
}